.site-footer__top {
    background-color: $secondary;
    @extend .container;

    .upper-footer {
        display: flex;
        justify-content: space-between;
        padding-block: 30px;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        .menu-child {
            #block-sass-theme-msd-mainnavigation-2 {
                h3 {
                    @extend .body16;
                    color: $pale-silver;
                    padding-bottom: 30px;
                }

                ul {
                    li {
                        list-style: none;
                        padding-block: 6px;

                        a {
                            text-decoration: none;
                            @extend .body17;
                            color: $light-gray;
                        }
                    }
                }
            }
        }

        .menu {
            #block-sass-theme-msd-mainnavigation-3 {
                h3 {
                    @extend .body16;
                    color: $pale-silver;
                    padding-bottom: 30px;
                }

                ul {
                    li {
                        list-style: none;
                        padding-block: 6px;

                        a {
                            text-decoration: none;
                            @extend .body17;
                            color: $light-gray;
                        }

                        &:nth-child(1),
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
        }

        .terms-of-use {
            #block-sass-theme-msd-termsofuse {
                display: flex;
                align-items: center;
                gap: 20px;

                @include desktop {
                    display: block
                }

                h3 {
                    @extend .body16;
                    color: $pale-silver;
                    padding-bottom: 30px;
                }

                p {
                    @extend .body17;
                    color: $light-gray;
                    padding-block: 6px;
                }
            }
        }

        .social-icon {
            .line {
                width: 100%;
                height: 1px;
                background-color: $pale-silver;
                margin-block: 35px;

            }

            .socialicon {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include desktop {
                    display: block
                }


                h3 {
                    @extend .body16;
                    color: $pale-silver;
                    padding-bottom: 0px;

                    @include desktop {
                        padding-bottom: 30px;
                    }
                }

                #block-sass-theme-msd-socialicons {
                    display: flex;
                    gap: 5px;

                    .icon-link-wrapper {
                        .highlighted {
                            .fontawesome-icons {
                                .fontawesome-icon {
                                    background-color: $slate-gray;
                                    border-radius: 50%;
                                    padding: 10px;

                                    .svg-inline--fa {
                                        height: 20px;
                                        width: 20px;
                                        color: $white;

                                        @include tablet {
                                            height: 25px;
                                            width: 25px;
                                        }

                                        @include desktop {
                                            height: 30px;
                                            width: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: $pale-silver;
    }

    .copy-write {
        @extend .body19;
        color: $pale-silver;
        display: flex;
        flex-direction: row-reverse;

        p {
            margin-block: 35px;
        }
    }

    .footer-terms {
        .footer-term {
            #block-sass-theme-msd-termsofuse-2 {
                display: flex;
                align-items: center;
                gap: 20px;

                @include desktop {
                    display: block
                }

                h3 {
                    @extend .body16;
                    color: $pale-silver;
                    padding-bottom: 30px;
                }

                p {
                    @extend .body17;
                    color: $light-gray;
                    padding-block: 6px;
                }
            }
        }
    }
}