  /* Hide all province content blocks by default */
  [data-mining-map-region-active] {
      stroke: #fff;
  }

  [data-mining-map-content] {
      display: none;
  }

  [data-mining-map-region].custom-hover:hover {
      fill: #8A8D90;
      cursor: pointer;
  }

  .miningMap [data-mining-map-region] {
      stroke: transparent;
      transition: opacity .4s, stroke .4s;
  }

  .pin-wrapper {
      display: none;
  }

  /* Show only the active province */
  [data-mining-map-content].is-active {
      display: block;

  }

  /* Hide all province texts by default */
  [data-mining-map-content] .province-text {
      display: none;
  }

  /* Show only the active province's text */
  [data-mining-map-content].is-active .province-text {
      display: block;
  }

  /* Active tab styling */
  .miningMap__tab.active {
      background-color: #004b8d;
      /* dark blue example */
      color: #fff;
      font-weight: bold;
  }

  /* Optional: default tab styling */
  .miningMap__tab {
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      padding: 0;
      margin: 2px;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.3s;
      @include tablet {
        padding: 6px 12px;
      }
  }

  .miningMap__tab:hover {
      background-color: #e0e0e0;
  }






  .mining-map {
      padding-block: 34px;
      @extend .container;
      background: rgba(0, 0, 0, 0.85);

      .miningMap__heading {
          width: 72%;

          .miningMap__label {
              color: #959B9D;
              font-family: Arial;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 21.98px;
              /* 157% */
              letter-spacing: 1.119px;
              text-transform: uppercase;
              padding-bottom: 36px;
          }

          .miningMap__title {
              color: #CFD2D3;
              font-family: Arial;
              font-size: 35px;
              font-style: normal;
              font-weight: 400;
              line-height: 55.99px;
              margin-bottom: 50px;
              @include tablet {
                font-size: 40px;
                margin-bottom: 0;
              }
              /* 139.975% */
          }
      }

      .miningMap__content {
          display: flex;
          flex-direction: column;

          @include desktop {
              flex-direction: row-reverse;
          }

          .miningMap__tabs {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-content: center;
              justify-content: space-evenly;
              align-items: center;
              gap: 1%;
              width: 100%;

              .miningMap__tab {
                  background-color: transparent;
                  color: #CFD2D3;
                  font-family: Arial;
                  font-style: normal;
                  text-transform: uppercase;
                  border: 0;
                  border-bottom: 2px solid #CFD2D3;

                  @include tablet {
                      font-size: 13.6px;
                      line-height: 20.39px;
                  }

                  @include desktop {
                      font-size: 16px;
                      line-height: 23.98px;

                  }
              }

              .miningMap__tab.active {
                  color: #FFB81C;
                  border-bottom: 2px solid #FFB81C;
              }

          }

          .miningMap__details {


              .province-info {

                  .pins-wrapper {
                      .pin-wrapper {
                          .heading {
                              height: 200px;
                              display: flex;
                              align-items: center;
                              background: #CFD2;
                              border-radius: 50px;
                              margin-top: 100px;
                              padding-inline: 20px;

                              .granite-complexes {
                                  color: #FFB81C;
                                  text-align: center;
                                  font-family: Arial;
                                  font-size: 40px;
                                  font-style: normal;
                                  font-weight: 400;
                                  line-height: 40px;
                                  /* 100% */
                              }
                          }

                          .sub-details {
                              display: grid;
                              grid-template-columns: 1fr 1fr 1fr;
                              justify-items: center;
                              column-gap: 7px;
                              margin-top: 56px;
                              @include desktop {
                                column-gap: 50px; 
                              }

                              .item {
                                  width: 100%;
                                  text-align: center;
                                  color: white;
                                  font-size: 12px;
                                  background: rgba(204, 255, 221, 0.1333333333);
                                  padding-inline: 30px;
                                  border-radius: 40px;
                                  @include desktop {
                                    padding: 40px;
                                  }

                                  div {
                                      font-size: 16px;
                                      color: #ffb81c;
                                      font-weight: 500;
                                      @include desktop {
                                        font-size: 20px;
                                      }
                                  }
                              }
                          }


                      }

                  }

                  .province-text {
                      height: 200px;
                      background: #CFD2;
                      border-radius: 50px;
                      margin-top: 100px;
                      padding-inline: 20px;
                      position: relative;

                      .granite-complexes {
                          color: #FFB81C;
                          text-align: center;
                          font-family: Arial;
                          font-size: 40px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 40px;
                          position: absolute;
                          top: 50%;
                          transform: translateY(-50%);
                      }
                  }

              }

              .map-description {
                  color: #FAFBFB;
                  font-family: Arial;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 23.98px;
                  /* 149.875% */
                  padding-left: 25px;
                  padding-top: 25px;
                  opacity: 0.7;
              }

          }
      }

      .miningMap__map {
          margin-top: calc(32px + 1.25vw);

          svg {
              height: 100%;
              object-fit: cover;
              width: 100%;
          }
      }
  }