.profile-outerwrapper{
    background-color: $primary;
    @extend .container;
    header{
        @extend .body3;
        color: $dark-gray;
        padding-bottom: 38px;
        @include tablet{
            padding-bottom: 49px;  
        }
        @include desktop {
            padding-bottom: 72px;
        }

    }
    .profile-wrapper{
        padding-bottom: 30%;
       .views-row{
        grid-column: span 5;

        @include tablet{
            grid-column: span 2;
        }
        @include desktop{
            grid-column: span 3;

        }
       }
        .profile{
            .image{
                height: 201px;
                width: 100%;

                @include tablet{
                    height: 20rem;
                }
                @include desktop {
                    height: 201px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include tablet{
                        border-radius: 64px;
                    }
                    @include desktop {
                        border-radius: unset !important;
                    }
                }
                margin-bottom: 25px;
                @include tablet{
                    margin-bottom: 28px;

                }
                @include desktop{
                    margin-bottom: 38px;
                }
               
            }
            .name{
                color: $off-white;
                @extend .body25;
                margin-bottom: 7px;
                @include tablet{
                    margin-bottom: 12px;   
                }
                @include desktop {
                    margin-bottom: 16px;
                }
            }
            .designation{
                @extend .body26;
                color: $light-gray;
            }
        }
    }

}


