.profile-outerwrapper{
    background-color: $primary;
    @extend .container;

    header{
        @extend .body3;
        color: $dark-gray;
        padding-bottom: 38px;
        @include tablet{
            padding-bottom: 49px;  
        }
        @include desktop {
            padding-bottom: 72px;
        }

    }
    .profile-wrapper{
        padding-bottom: 30%;
        row-gap: 30px;
        @include tablet{
            row-gap: 45px;
        }
       .views-row{
        grid-column: span 5;

        @include tablet{
            grid-column: span 2;
        }
        @include desktop{
            grid-column: span 3;
            

        }
       }
        .profile{
            text-align: center;
            .image{
                height: 100%;
                width: 100%;
                margin-bottom: 22px;

                @include tablet{
                    height: 100%;
                }
                @include desktop {
                    height: 100%;
                }
                @include desktop{
                    margin-bottom: 22px;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include tablet{
                        border-radius: 64px;
                    }
                    @include desktop {
                        border-radius: unset !important;
                    }
                }
               
            }
            .name{
                color: $off-white;
                // @extend .body25;
                margin-bottom: 7px;
                @include tablet{
                    margin-bottom: 12px; 
                    text-align: center;  
                }
                @include desktop {
                    margin-bottom: 16px;
                    text-align: center;
                }
            }
            .designation{
                // @extend .body26;
                color: $light-gray;
            }
        }
    }

}


