.services-wrapper {
    position: relative;

    .hero-section {
        background-color: #303336c4;
        .hero-image {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;



            img {
                width: 100%;
                height: 390px;
                object-fit: cover;

                @include tablet {
                    height: 610px;
                }

                @include desktop {
                    height: 720px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                pointer-events: none;
            }
        }


        .hero-text {
            position: absolute;
            top: 55%;
            left: 5%;
            [dir="rtl"] & {
                right: 5%;
            }

            @include tablet {
                top: 70%;
            }

            h1 {
                @extend .body20;
                color: $off-white;
            }

            p {
                @extend .body21;
                color: $off-white;
            }



        }
    }
}



.service-page {
    padding-block: 100px;
    background-color: $primary;

    .services-wrapper {
        .services-text {
            p {
                @extend .body13;
                color: $light-gray;

                span {
                    @extend .body26;
                    color: $light-gray;
                }
            }

            h2 {
                @extend .body7;
                color: $light-gray;
            }
        }
    }

    .paragraph--type--services-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 110px;

        // @include tablet {
        //     padding-inline: 175px;
        // }

        @include tablet{
            flex-wrap: wrap;
            flex-direction: row;
            padding-inline: 0px;
        }

        .services-card-wrapper {
            @include tablet {
                flex-basis: 49%;
            }
            @include desktop {
                flex-basis: 24%;
            }
            padding: 20px;
            background-color: $half-black;
            border-radius: 30px;



            .services-card {
                display: flex;
                flex-direction: column;
                gap: 25px;

                .icon-wrapper {
                    background: $tertiary;
                    padding: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                }

                h2 {
                    @extend .body15;
                    color: $white;
                    padding-block: 13px 19px;
                }

                p {
                    @extend .body14;
                    color: $light-gray;
                    line-height: 22px;
                    padding-bottom: 25px;
                }

            }
        }
    }
}


.focus-section {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
        flex-direction: row;
    }

    .paragraph--type--image-with-text {
        @include tablet{
            flex: 0 0 18.8%;
            max-width: 20%;
        }
      
        position: relative;
        overflow: hidden;
        transition: all 0.8s ease;

        .image-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 600px;
               object-fit: fill;
                display: block;
                @include tablet {
                    object-fit: cover;
                }
            }
        }


        .text-wrapper {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            padding: 20px;
            color: #fff;
            transition: all 0.8s ease;


            h2 {
                @extend .body21;
                font-size: 24px;
                font-weight: bold;
                opacity: 1;
                transform: translateY(0);
                transition: all 0.8s ease;
                text-align: center;
              
            }


            p {
                @extend .body16;
                margin-top: 10px;
                opacity: 1;
                transform: translateY(30px);
                transition: all 0.8s ease;
                @include tablet {
                    opacity: 0;
                }
            }
        }

        &:hover {
            @include tablet {
                flex: 0 0 30%;
                max-width: 30%;
            }
           

            .text-wrapper {
                h2 {

                    @include tablet {
                        
                        transform: translateY(-20px);
                    }
                   
                }

                p {
                    @extend .body16;
                    @include tablet {
                        
                        opacity: 1;
                        transform: translateY(0);
                        text-align: center;
                    }
                  
                }
            }
        }
    }
}