.services-wrapper{
    background-color: $dark-gray;
    padding-block: 50px;
    .services-text{
        p{
            color: $gray-light;
        }
        .body7{
            color:$light-gray;
            padding-block: 24px 10px;
        }
        p{
            span{
                @extend .body7;
                color:$gray-extra-light;
            }
        }
        .body8{
            color:$light-gray;
            padding-block: 55px 76px;
        }
    }


    .paragraph--type--services-card-wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include desktop{
            flex-direction: row;
        }
       .services-card-wrapper{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 20px;
        background-color:$light-gray;
         border-radius: 30px;
         @include tablet{
            height: 263px;
         }
         @include desktop{
            height: 250px;
         }
         .services-card{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .body9{
                font-weight: 700 !important;
            }
         }
    }
    }
}

.link-button{
padding-block: 117px 70px;
text-align: right;
}