.make-slider {
    background-color: $secondary;

    .slider-2 {
        display: flex;
        flex-direction: column-reverse;
        @extend .container;
        padding-block: 37px 57px;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 37px;

            [dir="rtl"] & {
                flex-direction: row-reverse;
            }
        }

        .slider-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .date {}

            .title {
                @extend .body7;
                color: $light-gray;
            }

            .body {
                color: $off-white;
                padding-top: 19px;
            }

            .link {
                padding-top: 48px;

                a {
                    color: $light-gray;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 27px;

                    &::after {
                        content: url(../icons/arrow-white.svg);
                        background: #00717F;
                        border-radius: 50%;
                        fill: #fff;
                        display: flex;
                        align-items: center;
                        padding: 6px 10px;
                    }

                }
            }
        }

        .slider-right {
            flex: 1;

            .image_wrapper {
                width: 100%;
                height: 404px;

                img {
                    width: 100%;
                    height: 404px;
                    border-radius: 30px;
                    object-fit: cover;
                }

            }
        }
    }

    .slick-prev {
        left: 56%;
        top: 91%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: #303336;
        z-index: 99999;

        [dir="rtl"] & {
            right: 56%;
        }

        @include tablet {
            left: 38%;

            [dir="rtl"] & {
                right: 38%;
            }
        }

        @include desktop {
            left: 40%;
            top: 85%;

            [dir="rtl"] & {
                right: 40%;
            }
        }

        &:hover {
            background-color: #00717F;
            ;
        }

        &::before {
            content: '<';
            font-size: 14px;
            [dir="rtl"] & {
                content: '>' !important;
            }

        }
    }

    .slick-next {
        left: 68%;
        top: 91%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: #303336;
        z-index: 99999;

        [dir="rtl"] & {
            right: 68%;
            left: unset !important;
        }

        @include tablet {
            left: 45%;

            [dir="rtl"] & {
                left: 53% !important;
            }
        }

        @include desktop {
            left: 44%;
            top: 85%;

            [dir="rtl"] & {
                right: 44%;
            }
        }

        &:hover {
            background-color: #00717F;
        }

        &::before {
            content: '>';
            font-size: 14px;
            [dir="rtl"] & {
                content: '<' !important;
            }
        }
    }

    .slick-track {
        .slick-slide {
            float: left !important;
        }
    }

}