.paragraph--type--heading-with-colu {
    .main_wrapper {
        background-color: $primary;
        @extend .container;

        .body-section {
            padding-block: 125px;


            .heading {
                @extend .body24;
                color: $light-gray ;
            }

            .main-wrapper {
                display: flex;
                gap: 30px;
                flex-direction: column;
                padding-top: 30px;

                @include tablet {
                    gap: 200px !important;
                    flex-direction: row;
                }


                .left-description {
                    p {
                        @extend .body15;
                        color: $light-gray ;
                    }
                }

                .right-description {
                    p {
                        @extend .body15;
                        color: $light-gray ;
                    }
                }
            }
        }
    }
}

.besiness-insight {
    background-color: $primary;
    @extend .container;

    .business-insight_body {
        display: flex;
        gap: 60px;

        .image_wrapper {
            width: 100%;
            height: 100%;

            img {
                width: 640.13px;
                height: 426.83px;
                object-fit: cover;
                border-radius: 30px;
            }
        }

        .detail {
            .heading {
                @extend .body25;
                color: $light-gray;
            }

            .description {
                @extend .body26;
                color: $light-gray;
            }
        }
    }
}