<div class="statistic-item background-image" >
 

  <span class="counter body11"
        data-target="{{ paragraph.field_style.value }}"
        data-duration="1500">
    0
  </span>

  <div class="statistic-text body23">
    {{ content.field_text}}
  
  </div>

</div>

