// FONT FAMILIES
$font_IBM_plex: 'IBM_plex', sans-serif;
$font_Roboto: 'Roboto', sans-serif;
// FONT FAMILIES

// Body1
.body1 {
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

// Body2
.body2 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  @include tablet {
    font-size: 43px;
    line-height: 51px;
  }
}

// Body3
.body3 {
  font-family: Arial;
  font-weight: 700;
  font-size: 10.2px;
  line-height: 16.11px;

  @include tablet {
    font-size: 11.6px;
    line-height: 18.22px;
  }

  @include desktop {
    font-size: 14px;
    line-height: 21px;
  }
}

// Body4
.body4 {
  font-family: Arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

// Body5
.body5 {
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

// Body6
.body6 {
  font-family: Arial;
  font-weight: 700;
  font-size: 12.2px;
  line-height: 18.37px;

  @include tablet {
    font-size: 13.6px;
    line-height: 20.49px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 23.98px;
  }
}

// Body7
.body7 {
  font-family: Arial;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;

  @include tablet {
    font-size: 40px;
    line-height: 56px;
  }
}

// Body8
.body8 {
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

// Body9
.body9 {
  font-family: Arial;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 32.8px;

  @include tablet {
    font-size: 20.6px;
    line-height: 34.32px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 29.98px;
  }
}

// Body10
.body10 {
  font-family: Arial;
  font-weight: 400;
  font-size: 12.2px;
  line-height: 18.37px;

  @include tablet {
    font-size: 13.6px;
    line-height: 20.39px;
  }

  @include desktop {
    font-size: 16.23px;
    line-height: 23.98px;
  }
}

// Body11
.body11 {
  font-family: Arial;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;

  @include tablet {
    font-size: 30.4px;
    line-height: 42.56px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 56px;
  }
}

// Body12
.body12 {
  font-family: Arial;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

// Body13
.body13 {
  font-family: Arial;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
}

// Body14
.body14 {
  font-family: Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

// Body15
.body15 {
  font-family: Arial;
  font-weight: 400;
  font-size: 14.2px;
  line-height: 100%;

  @include tablet {
    font-size: 15.6px;
  }

  @include desktop {
    font-size: 18px;
  }
}

// Body16
.body16 {
  font-family:$font_IBM_plex;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

// Body17
.body17 {
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @include tablet {
    font-size: 15px;
  }
}

// Body18
.body18 {
  font-family: $font_IBM_plex;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  @include tablet {
    font-size: 18px;
    line-height: 20px;
  }

  @include desktop {
    font-size: 15px;
    line-height: 20px;
  }
}

// Body19
.body19 {
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  @include tablet {
    font-size: 18px;
    line-height: 18px;
  }

  @include desktop {
    font-size: 12px;
    line-height: 12px;
  }
}
