// COLORS
$white: #fff;
$black: #000;
$primary: #303336;
$secondary: #4A4F53;
$tertiary: #00717F;
$off-white: #FAFBFB;
$light-gray: #CFD2D3;
$slate-gray: #69727D;
$dark-gray: #4A4F54;
$gray-light: #959B9D;
$gray-extra-light:#E6F1F2;
$orange:#FFAE00;
$pale-silver: #D0D0C8;
$dark-gray: #959B9D;
$slate-gray: #69727D;
$half-black:#60666C;

