// COLORS
$white: #fff;
$black: #000;
$primary: #303336;
$secondary: #4A4F53;
$tertiary: #00717F;
$off-white: #FAFBFB;
$light-gray: #CFD2D3;
$slate-gray: #69727D;
$orange:#FFAE00;
$pale-silver: #D0D0C8;